@import "../../sass/base";
@import "../../sass/mixins";

.box {
  min-height: 50rem;
  width: 50rem;
  @include gradient-box--from-bottom;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 40rem;
  background-color: rgb(255, 255, 255);
  padding: 2rem 1rem;
}

.sub-heading {
  background-color: white;
  padding: 2rem 0;
  transform: translateY(-5rem);
  width: 40rem;
  text-align: center;
  -webkit-transform: translateY(-5rem);
  -moz-transform: translateY(-5rem);
  -ms-transform: translateY(-5rem);
  -o-transform: translateY(-5rem);
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 480px) {
  .box {
    max-width: 95vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
  }

  .logo,
  .sub-heading {
    max-width: 90%;
  }

  .buttons-wrapper {
    width: 100%;

    flex-direction: column;

    a {
      width: 100%;
    }

    a button {
      width: 90%;
      margin: 0 5% 3rem 5%;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }
  }
}
