//// Colors ////
$box-color: rgb(241, 215, 189);
$color-primary: purple;
$color-secondary: rgb(78, 3, 78);
$color-tertiary: rgb(205, 205, 205);
$color-font-primary: rgb(255, 255, 255);
$color-font-error: red;
