//// Colors ////
$box-color: rgb(241, 215, 189);
$modal-background-color: rgb(0, 0, 0, 0.7);
$color-primary: rgb(118, 129, 110);
$color-secondary: rgb(70, 88, 57);
$color-tertiary: rgb(205, 205, 205);
$color-font-primary: rgb(255, 255, 255);
$color-font-primary-faded: rgb(255, 255, 255, 0.6);
$color-font-error: red;
