@import "../../../sass/base";
@import "../../../sass/mixins";

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 8rem;
  min-height: 18rem;
  width: 108rem;
  max-width: 90vw;
  @include gradient-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  padding-top: 2rem;
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.heading {
  color: $color-font-primary;
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.message {
  color: $color-font-primary;
  text-align: center;
  font-size: 2rem;
}

.u-row {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.u-row:last-of-type {
  margin-bottom: 3rem;
  margin-top: 4rem;
}

.para,
.para-faded {
  font-size: 2rem;
}

.para {
  color: $color-font-primary;
}

.para-faded {
  color: $color-font-primary-faded;
}

.u-blue {
  color: rgb(47, 203, 255);
}

.u-red {
  color: red;
}

.u-green {
  color: rgb(7, 211, 7);
}

.u-yellow {
  color: yellow;
}

.button {
  background-color: transparent;
  background-color: $color-primary;
  color: $color-font-primary;
  border: none;
  font-size: 1.6rem;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 14px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  transition: background-color 0.5s, color 0.75s;
  -webkit-transition: background-color 0.5s, color 0.75s;
  -moz-transition: background-color 0.5s, color 0.75s;
  -ms-transition: background-color 0.5s, color 0.75s;
  -o-transition: background-color 0.5s, color 0.75s;
}

.button:hover {
  cursor: pointer;
  background-color: $color-secondary;
  color: $color-tertiary;
}
